In [ ]:
# 跑完這個 就可以call db了
import pandas as pd
import os
import sys
from pathlib import Path
CURRENT_DIR = Path(os.getcwd())
PROJECT_ROOT = CURRENT_DIR.parent  # 如果你在 notebook/ 裡執行
sys.path.insert(0, str(PROJECT_ROOT))
from src.config import SQLALCHEMY_DATABASE_URI
from sqlalchemy import create_engine
engine = create_engine(SQLALCHEMY_DATABASE_URI)

In [20]:
df = pd.read_sql('weather', con=engine) 
df.head()

,id,date,station_id,season,temperature,humidity,wind_speed,wind_direction,rainfall,created_at
0,1,2016-04-01,C0F9Y0,spring,NaN,NaN,NaN,NaN,NaN,2025-07-01 05:03:47
1,2,2016-04-02,C0F9Y0,spring,NaN,NaN,NaN,NaN,NaN,2025-07-01 05:03:47
2,3,2016-04-03,C0F9Y0,spring,NaN,NaN,NaN,NaN,NaN,2025-07-01 05:03:47
3,4,2016-04-04,C0F9Y0,spring,NaN,NaN,NaN,NaN,NaN,2025-07-01 05:03:47
4,5,2016-04-05,C0F9Y0,spring,NaN,NaN,NaN,NaN,NaN,2025-07-01 05:03:47